{% trans_default_domain 'FOSUserBundle' %}
<body class="login-bod">
<div class="full-login">
<h1>Project 418</h1>
<h4>Please login to continue</h4>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


    <label for="email">Email</label>
    <input type="email" class="form-control" id="username" placeholder="" name="_username" required="required"/>




    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input  type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
<br>
<a class="sidebar-menu-register" href="{{ path('fos_user_registration_register') }}">Register</a>
<br>
<br>
<a href="/project-418/web/connect/facebook">
    <img class="fb-login" src="{{ asset('fblogin.png') }}">
</a><br>
{#

<a href="/project-418/web/app_dev.php/connect/googleplus">
    Login with Google+
</a>#}
</div>
</body>